<div id="header" style="background-color: purple; color: white; padding:0px;">
  <div id="logo">
    <h1 style="font-size: 24px; text-align: center;">DAELITES BLOG APP- The home of informative technology content</h1>
  </div>
  <ul style="list-style: none; padding: 0; display: flex; justify-content: space-around;">
    <li>
      <a href="home" style="text-decoration: none; font-weight: bold; color: white;">All Blog Posts</a>
    </li>
    <li>
      <a href="authenticate" style="text-decoration: none; font-weight: bold; color: white;">Create A Blog Post</a>
    </li>
    <li>
      <a href="dashboard" style="text-decoration: none; font-weight: bold; color: white;">Dashboard</a>
    </li>
    <li>
      <a href="signup" style="text-decoration: none; font-weight: bold; color: white;">Sign Up</a>
    </li>
    <li>
      <a href="login" style="text-decoration: none; font-weight: bold; color: white;">Login</a>
    </li>
    <li>
      <a href="index" style="text-decoration: none; font-weight: bold; color: white;">Logout</a>
    </li>
    <!-- Add other navigation items here -->
  </ul>
</div>
