<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-color: purple; /* Set the background color to purple */
      margin: 0; /* Remove default margin */
      padding: 0; /* Remove default padding */
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    #content {
      text-align: center; /* Center align the content */
    }

    h1 {
      color: white; /* Set the text color to white */
      font-size: 24px; /* Set the font size */
      margin-bottom: 20px; /* Add some spacing below the heading */
    }

    #nextButton {
      background-color: white; /* Set the button background color to white */
      color: purple; /* Set the button text color to purple */
      padding: 10px 20px; /* Add padding to the button */
      border: none; /* Remove the button border */
      cursor: pointer;
      border-radius: 15px; /* Add rounded corners to the button */
      font-weight: bold; /* Make the text bold */
    }
  </style>
</head>
<body>
  <div id="content">
    <h1>WELCOME TO DAELITES BLOG APP</h1>
    <a href="/blog/home">
    <button id="nextButton">Let's dive in</button>
    </a>
  </div>
</body>
</html>



